.container {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 48%;
  }

  body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: justify-all;
    font-family: Public Sans, sans-serif;
    color: #000000;
    
    
}

  table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    width: 150%;
    padding: 10px;
    text-align: left;
}

.btn-outline-success{
    color: #678D72;
    background-color: white;
    display: block; /* Transforma o botão em um bloco para aplicar margin */
    gap: 10px;
    margin: 0 auto; /* Margem automática horizontal para centralizar */
    width: 80px; /* Defina a largura desejada para o botão */
    text-align: center; /* Centraliza o texto dentro do botão */
}

.btn-outline-danger{
    color: white;
    background-color: rgb(129, 2, 2);
    display: block; /* Transforma o botão em um bloco para aplicar margin */
    margin: 0 auto; /* Margem automática horizontal para centralizar */
    width: 80px; /* Defina a largura desejada para o botão */
    text-align: center; /* Centraliza o texto dentro do botão */
    opacity: 0.80;
}
.btn-primary{
    color: white;
    background-color: #243B3B;
    display: flex;
    margin: 0 auto; /* Margem automática horizontal para centralizar */
    width: 120px; /* Defina a largura desejada para o botão */
    text-align: center; /* Centraliza o texto dentro do botão */
    float: right;
}

